@import "/src/styles/sass/utils";
.ButtonBlack {
  background-color: $rich-black;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
  padding: 0.6rem 0.4rem;
}
// CartDetails
.CartList {
  padding: 0;
}
// CartEmpty
.CartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & h2 {
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  & button {
    @extend .ButtonBlack;
  }
}
// CartCheckoutActions
.CheckoutActions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.ToCheckout {
  @extend .ButtonBlack;
  text-decoration: none;
}
.ShopPay {
  width: 100%;
}
// OrderSummary
.OrderSummary {
  & > div {
    display: flex;
    justify-content: space-between;
  }
  & dt {
    text-transform: capitalize;
  }
  & .Shipping {
    color: green;
  }
}
// CartLineItems
.LiItem {
  display: flex;
  justify-content: space-between;
  &__image {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}
// CartLineQuantAdj
